.hazard-category-container {
  display: block;
  padding: 1vh 0 2vh 0;
}


.submit-button-container {
  display: flex;
  padding: 18vh 0 0 0;
  max-width: 18.5vw;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.add-chemical-form {
  display: flex;
  width: 45vw;
}

mat-form-field {
  width: 90%;
}

#invalid-url-feedback {
  font-weight: bold;
  color: red;
  margin: 1% 1% 0 0;
}

mat-dialog-content {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
