.hazard-category-container {
  display: block;
}


.submit-button-container {
  display: flex;
  align-self: auto;
  align-items: flex-end;
  height: 30%;
  max-width: 20vw;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.add-chemical-form {
  display: flex;
  width: 45vw;
}

mat-form-field {
  width: 90%;
}

#invalid-url-feedback {
  font-weight: bold;
  color: red;
  margin: 1% 1% 0 0;
}

.mat-mdc-dialog-content {
  max-height: unset;
}
