table {
  width: 100%;
  border-radius: 4px !important;
  overflow: hidden !important;
}

.mat-header-cell{
  font-size: 20px;
}

.mdc-logo{
  padding: 0.75vh 0 0 0.75vw;
}

.table-container{
  margin: 1vw;
}

.spacer{
  flex: 1 1 auto;
}

.coshh-toolbar{
  margin: 0 auto;
  max-width: 98%;
  border-radius: 4px;
}

.coshh-archive-cell{
  padding-left: 24px !important;
}

.coshh-archive-checkbox{
  margin: 0 1vw 0 0;
}

.hazard{
  height: 6vh;
}

ul {
  columns: 5;
  -webkit-columns: 5;
  -moz-columns: 5;
  list-style-type: none;
  padding: 0; 
  margin: 0;
}


.cas-number-field {
  max-width: 4vw;
}

.date-form-field {
  max-width: 5.5vw;
}

.storage-temp-form-field {
  max-width: 5vw;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  line-break: unset;
  padding-top: 0.5vh;
  //white-space: nowrap;
}

.mat-row,
.mat-header-row {
  display: table-row;
}