table {
  margin: 0 auto;
  width: 100%;
  border-radius: 4px !important;
}

.mat-header-cell {
  font-size: 20px;
}

header {
  text-align: right !important;
}

.mdc-logo {
  padding: 0.75vh 1vw 0 0;
  max-width: 12vw;
}

.table-container {
  margin: 1vw;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 79vh;
  max-width: 100%;
}

.coshh-toolbar {
  margin: 0 auto;
  max-width: 98%;
  border-radius: 4px;
}

.coshh-archive-cell {
  padding-left: 2vw !important;
  padding-bottom: 1vh;
}

.coshh-checkbox {
  margin: 0 1vw 0 0;
}

.hazard {
  height: 3.5vh;
}

ul {
  columns: 5;
  -webkit-columns: 5;
  -moz-columns: 5;
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.cas-number-field,
.sds-coshh-form-field {
  max-width: 5.5vw;
}

.date-form-field {
  max-width: 7.5vw;
}


.storage-temp-form-field,
.state-form-field,
.quantity-form-field {
  max-width: 5vw;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  line-break: unset;
  padding-top: 2vh;
  padding-right: 0.5vw;
}

.mat-row,
.mat-header-row {
  display: table-row;
}


.toolbar-controls-container {
  display: flex;
}

.filter-control {
  margin-left: 0.25vw;
}

.archive-checkbox-container {
  font-size: 1.5vh;
  font-weight: normal;
  flex-direction: column;
  display: flex;
}

.add-chemical {
  padding: 0 0.55vw 0 0.5vw;
}

header {
  text-align: center;
}

.hazard-menu-button {
  min-width: 0;
  padding: 0;
}

.hazard-cell {
  display: inline-flex;
  justify-content: space-between;
  min-width: 100%;
}

.hazard-checkbox {
  display: block;
}

.padding-left-small {
  padding-left: 5px;
}

.padding-right-small {
  padding-right: 5px;
}

.inline {
  display: inline;
}

.filter-select {
  font-size: larger;
}

th.mat-sort-header-sorted {
  color: black;
}

.clone-button {
  margin: 5px;
}

.unarchive-button {
  background-color: forestgreen;
}

#unarchive-icon {
  color: white;
}

::ng-deep .mat-menu-content{
  background: lightgrey;
  height: 75%;
}

.archived {
  text-decoration: line-through;
  text-decoration-thickness: 1.5px;
}

.coshh-inventory{
  margin-right: 1vw;
}
// Centre items in flexbox with space in between them ie similar to float left/right
.centred-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#login-buttons {
  padding-left: 20px;
}

#excel-button,
#print-button {
  margin: 0 0.5vw 0 0.5vw;
}

#pdf-button,
#excel-button,
#print-button {
  margin-top: 0.4vh;
}

#save-button {
  margin-right: 1vw;
}
