table {
  width: 100%;
  border-radius: 4px !important;
  overflow: hidden !important;
}

.mat-header-cell {
  font-size: 20px;
}

header {
  text-align: right !important;
}

.mdc-logo {
  padding: 0.75vh 1vw 0 0;
  max-width: 12vw;
}

.table-container {
  margin: 1vw;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 64vh;
  max-width: 100%;
}

.coshh-toolbar {
  margin: 0 auto;
  max-width: 98%;
  border-radius: 4px;
}

.coshh-archive-cell {
  padding-left: 2vw !important;
  padding-bottom: 1vh;
}

.coshh-archive-checkbox {
  margin: 0 1vw 0 0;
}

.hazard {
  height: 6vh;
}

ul {
  columns: 5;
  -webkit-columns: 5;
  -moz-columns: 5;
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.cas-number-field,
.sds-coshh-form-field {
  max-width: 5.5vw;
}

.date-form-field {
  max-width: 7.5vw;
}

.storage-temp-form-field,
.state-form-field,
.quantity-form-field {
  max-width: 5vw;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  line-break: unset;
  padding-top: 0.5vh;
  padding-right: 0.5vw;
}

.mat-row,
.mat-header-row {
  display: table-row;
}

.toolbar-controls-container {
  width: 20vw;
  font-size: 1vh;
  display: flex;
  padding: 1.3vh 1vw 0 0;
}

.filter-control {
  flex: auto;
}

.archive-checkbox-container {
  font-size: 1.5vh;
  font-weight: normal;
}

.add-chemical {
  padding-left: 0.55vw;
}

header {
  text-align: center;
}
