<div>
    <header>
        <img class="mdc-logo" src="assets/mdc-logo-white.png">
        <mat-toolbar class="coshh-toolbar">
            <span>COSHH Inventory </span>
            <div class="add-chemical">
                <app-add-chemical
                        [labs]="labFilterValues"
                        (onChemicalAdded)="onChemicalAdded($event)"
                ></app-add-chemical>
            </div>

            <span class="spacer"></span>

            <div class="toolbar-controls-container">

                <div class="filter-control">
                    <mat-form-field appearance="outline">
                        <mat-label>Filter by lab</mat-label>
                        <select matNativeControl required [formControl]="labFilterControl">
                            <option *ngFor="let lab of labFilterValues" [value]="lab">{{lab}}</option>
                        </select>
                    </mat-form-field>
                </div>

                <div class="filter-control">
                    <mat-form-field appearance="outline">
                        <mat-label>Filter by expiry</mat-label>
                        <select matNativeControl required [formControl]="expiryFilterControl">
                            <option *ngFor="let expiry of expiryFilterValues" [value]="expiry">{{expiry}}</option>
                        </select>
                    </mat-form-field>
                </div>

                <div class="filter-control">
                    <mat-form-field appearance="outline">
                        <mat-label>Filter by hazard</mat-label>
                        <select matNativeControl required [formControl]="hazardFilterControl">
                            <option *ngFor="let hazard of hazardFilterValues" [value]="hazard">{{hazard}}</option>
                        </select>
                    </mat-form-field>
                </div>


                <div class="filter-control">
                    <mat-form-field appearance="outline">
                        <mat-label>Search by chemical name</mat-label>
                        <input type="text"
                               placeholder="Type to search..."
                               aria-label="Search"
                               matInput
                               [formControl]="searchControl"
                               [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of searchOptions | async | slice : 0 : 10" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>

            <div class="filter-control archive-checkbox-container">
                <mat-checkbox
                        class="coshh-archive-checkbox"
                        [formControl]="toggleArchiveControl"
                        color="primary">Display archived chemicals
                </mat-checkbox>
            </div>


        </mat-toolbar>
    </header>

    <form [formGroup]="formGroup">
        <div class="table-container">
            <table *ngIf="tableData.data.length" mat-table [dataSource]="tableData" formArrayName="chemicals">

                <ng-container matColumnDef="casNumber">
                    <th mat-header-cell *matHeaderCellDef> CAS no.</th>
                    <td mat-cell *matCellDef="let chemical; let index = index" [formGroupName]="index">

                        <mat-form-field class="cas-number-field" appearance="standard">
                            <textarea matInput readonly type="text" formControlName="casNumber">
                                </textarea>
                        </mat-form-field>

                    </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Chemical Name</th>
                    <td mat-cell *matCellDef="let chemical; let index = index" [formGroupName]="index">

                        <mat-form-field appearance="standard">
                            <textarea matInput type="text" formControlName="name">
                            </textarea>
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container matColumnDef="hazards">
                    <th mat-header-cell *matHeaderCellDef> Hazards</th>
                    <td mat-cell class="hazard-cell" *matCellDef="let chemical">
                        <div *ngIf="!chemical.hazards; then missingHazardBlock else hazardBlock"></div>
                        <ng-template #missingHazardBlock>
                            <div>None</div>
                        </ng-template>
                        <ng-template #hazardBlock>
                            <div *ngIf="chemical.hazards.includes('None')">None</div>
                            <div *ngIf="chemical.hazards.includes('Unknown')">Unknown</div>
                        </ng-template>


                        <ul *ngIf="!(chemical.hazards.includes('None') || chemical.hazards.includes('Unknown'))">
                            <li *ngFor="let hazard of chemical.hazards">
                                <img class="img-responsive hazard" [src]="getHazardPicture(hazard)">
                            </li>
                        </ul>

                        <button mat-button class="hazard-menu-button" [matMenuTriggerFor]="menu">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <mat-checkbox #hazards
                                          *ngFor="let hazard of chemical.hazardList"
                                          [(ngModel)]="hazard.activated"
                                          [ngModelOptions]="{standalone: true}"
                                          (click)="$event.stopPropagation()"
                                          (change)="onHazardSelect($event, chemical)"
                            >{{ hazard.title }}</mat-checkbox>
                        </mat-menu>

                    </td>
                </ng-container>

                <ng-container matColumnDef="location">
                    <th mat-header-cell *matHeaderCellDef> Location</th>
                    <td mat-cell *matCellDef="let chemical; let index = index" [formGroupName]="index">

                        <mat-form-field class="example-form-field" appearance="standard">
                            <input matInput type="text" formControlName="location">
                        </mat-form-field>

                    </td>
                </ng-container>

                <ng-container matColumnDef="photoPath">
                    <th mat-header-cell *matHeaderCellDef> Photo</th>
                    <td mat-cell *matCellDef="let chemical; let index = index" [formGroupName]="index">

                        <mat-form-field class="example-form-field" appearance="standard">
                            <input matInput type="text" formControlName="photoPath">
                        </mat-form-field>

                    </td>
                </ng-container>

                <ng-container matColumnDef="matterState">
                    <th mat-header-cell *matHeaderCellDef>State</th>
                    <td mat-cell *matCellDef="let chemical; let index=index" [formGroupName]="index">

                        <mat-form-field class="state-form-field" appearance="standard">
                            <select matNativeControl required formControlName="matterState">
                                <option value="liquid">Liquid</option>
                                <option value="solid">Solid</option>
                            </select>
                        </mat-form-field>

                    </td>
                </ng-container>

                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef> Quantity</th>
                    <td mat-cell *matCellDef="let chemical; let index = index" [formGroupName]="index">

                        <mat-form-field class="quantity-form-field" appearance="standard">
                            <input matInput type="text" formControlName="quantity">
                        </mat-form-field>

                    </td>
                </ng-container>

                <ng-container matColumnDef="added">
                    <th mat-header-cell *matHeaderCellDef> Added</th>
                    <td mat-cell *matCellDef="let chemical; let index=index" [formGroupName]="index">

                        <mat-form-field class="date-form-field" appearance="standard">
                            <input readonly matInput [matDatepicker]="addedPicker" formControlName="added">
                            <mat-datepicker-toggle matSuffix [for]="addedPicker"></mat-datepicker-toggle>
                            <mat-datepicker #addedPicker></mat-datepicker>
                        </mat-form-field>

                    </td>
                </ng-container>

                <ng-container matColumnDef="expiry">
                    <th mat-header-cell *matHeaderCellDef> Expiry</th>
                    <td mat-cell *matCellDef="let chemical; let index=index" [formGroupName]="index">

                        <mat-form-field class="date-form-field" appearance="standard">
                            <input readonly matInput [matDatepicker]="expiryPicker" formControlName="expiry"
                                   [style.background-color]="chemical.backgroundColour">
                            <mat-datepicker-toggle matSuffix [for]="expiryPicker"></mat-datepicker-toggle>
                            <mat-datepicker #expiryPicker></mat-datepicker>
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container matColumnDef="safetyDataSheet">
                    <th mat-header-cell *matHeaderCellDef> SDS</th>
                    <td mat-cell *matCellDef="let chemical; let index = index" [formGroupName]="index">

                        <mat-form-field class="sds-coshh-form-field" appearance="standard">
                            <input matInput type="text" formControlName="safetyDataSheet">
                        </mat-form-field>

                    </td>
                </ng-container>

                <ng-container matColumnDef="coshhLink">
                    <th mat-header-cell *matHeaderCellDef> COSHH</th>
                    <td mat-cell *matCellDef="let chemical; let index = index" [formGroupName]="index">

                        <mat-form-field class="sds-coshh-form-field" appearance="standard">
                            <input matInput type="text" formControlName="coshhLink">
                        </mat-form-field>

                    </td>
                </ng-container>

                <ng-container matColumnDef="storageTemp">
                    <th mat-header-cell *matHeaderCellDef> Storage Temp.</th>
                    <td mat-cell *matCellDef="let chemical; let index=index" [formGroupName]="index">

                        <mat-form-field class="storage-temp-form-field" appearance="standard">
                            <select matNativeControl required formControlName="storageTemp">
                                <option value="Shelf">Shelf</option>
                                <option value="+4">+4</option>
                                <option value="-20">-20</option>
                                <option value="-80">-80</option>
                            </select>
                        </mat-form-field>

                    </td>
                </ng-container>

                <ng-container matColumnDef="archive">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let chemical" class="coshh-archive-cell">
                        <button
                                matTooltip="Archive this chemical"
                                matTooltipPosition="above"
                                class="archive-button"
                                mat-mini-fab
                                color="warn"
                                (click)="archive(chemical)"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns; let i = index"></tr>
            </table>

        </div>
    </form>

</div>

