table {
  width: 100%;
  border-radius: 4px !important;
  overflow: hidden !important;
}

.mat-header-cell{
  font-size: 20px;
}

.mdc-logo{
  padding: 0.75vh 0 0 0.75vw;
}

.table-container{
  margin: 1vw;
}

.spacer{
  flex: 1 1 auto;
}

.coshh-toolbar{
  margin: 0 auto;
  max-width: 98%;
  border-radius: 4px;
}

.coshh-archive-cell{
  padding-left: 24px !important;
}

.coshh-archive-checkbox{
  margin: 0 1vw 0 0;
}

.hazard{
  height: 8vh;
}

ul {
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;  
  list-style-type: none;
  padding: 0; 
  margin: 0;
  border: 1px solid gray;
}


