<form class="add-chemical-form" [formGroup]="form">

    <div class="column">
        <div class="row">
            <mat-form-field class="row-item" appearance="fill">
                <mat-label>CAS Number</mat-label>
                <input matInput type="text" formControlName="casNumber">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="row-item" appearance="fill">
                <mat-label>Chemical Name</mat-label>
                <input matInput type="text" formControlName="name">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="row-item" appearance="fill">
                <mat-label>Chemical Number</mat-label>
                <input matInput type="text" formControlName="chemicalNumber">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="row-item" appearance="fill">
                <mat-label>Chemical State</mat-label>
                <select matNativeControl required formControlName="matterState">
                    <option value="liquid">Liquid</option>
                    <option value="solid">Solid</option>
                </select>
            </mat-form-field>
        </div>

        <div class="rows">
            <mat-form-field appearance="fill">
                <mat-label>Storage Temperature</mat-label>
                <select matNativeControl required formControlName="storageTemp">
                    <option value="Shelf">Shelf</option>
                    <option value="+4">+4</option>
                    <option value="-20">-20</option>
                    <option value="-80">-80</option>
                </select>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Quantity</mat-label>
                <input matInput type="text" formControlName="quantity">
            </mat-form-field>
        </div>

        <div class="row">
            <div class="hazard-category-container">
                <mat-label>Hazard category</mat-label>
                <div *ngFor="let hazardCategory of hazardCategoryList; let i = index;">
                    <mat-checkbox
                            [checked]="hazardCategory.selected"
                            matInput
                            formArrayName="hazards"
                            [value]="hazardCategory.name"
                            (change)="onCheckboxChange($event, i)"> {{ hazardCategory.name }}</mat-checkbox>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Date added</mat-label>
                <input readonly matInput [matDatepicker]="addedPicker" formControlName="added">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="addedPicker"></mat-datepicker-toggle>
                <mat-datepicker #addedPicker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Expiry Date</mat-label>
                <input readonly matInput [matDatepicker]="expiryPicker" formControlName="expiry">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="expiryPicker"></mat-datepicker-toggle>
                <mat-datepicker #expiryPicker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Link to Safety Data Sheet</mat-label>
                <input matInput type="text" formControlName="safetyDataSheet">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Link to COSHH form</mat-label>
                <input matInput type="text" formControlName="coshhLink">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Lab Location</mat-label>
                <select matNativeControl required formControlName="location">
                    <option *ngFor="let lab of data.labs" [value]="lab">{{lab}}</option>
                </select>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Cupboard</mat-label>
                <input matInput type="text" formControlName="cupboard">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Project specific?</mat-label>
                <input type="text"
                       placeholder="Type to search..."
                       matInput
                       [formControl]="form.controls['projectSpecific']"
                       [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of projectSpecificOptions | async | slice : 0 : 10" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    </div>

</form>
<div class="submit-button-container">
    <span class="spacer"></span>
    <button
            [disabled]="!this.selectedHazardCategories.length"
            mat-raised-button
            color="primary"
            (click)="onClose()">Submit
    </button>
</div>